div.tagcloud a.tag-cloud-link
{
    font-size: 12px !important;
}

div.bwp-sidebar-logo-wrap span.bwp-tagline
{
    font-size: 22px;
    font-weight: bold;
}

div.bwp-sidebar-logo-wrap
{
    padding-bottom: 40px;
}

div.bwp-post-categories i
{
    margin-right: 1px;
}

div.bwp-post-categories a
{
    margin-right: 5px;
}

aside.widget_tag_cloud ul.date-list li
{
    float: left;
    margin-bottom: 5px;
}

aside.widget_tag_cloud ul.date-list li a
{
    font-size: 11px !important;
}

aside#tag_cloud-5 a.active
{
    background: #8cc8ee;
}